<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nu Empresas - Job</title>
    <link rel="stylesheet" href="/job_menu.css">
    <link rel="icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
<<<<<<< HEAD
        <div class="mais"><img src="/img/img_trabalhos/mais.png" alt=""></div>
=======
>>>>>>> 9707fe188ed4ed3ecd3caa472711a6f23ecb628f
        <div class="btn_profile">
            <div class="icon_profile">
                <img src="/img/do-utilizador.png" alt="">
            </div>
            <h1 class="greeting">Olá, Rafael</h1>
<<<<<<< HEAD
=======

            <a href="/" class="link_limpo">
                <div class="icon_profile_proximo">
                    <img src="/img/proximo.png" alt="">
                </div>
                <h1 class="greeting_dois">Trabalhos</h1>
            </a>


>>>>>>> 9707fe188ed4ed3ecd3caa472711a6f23ecb628f
        </div>
    </header>

    <header class="header_low">
<<<<<<< HEAD
        <div class="btn_profile">
            <h1 class="greeting_header_low">Trabalhos</h1>
            <div class="tab_container">
                <button class="tab_item_active">Todos</button>
=======
        <div class="btn_profile_dois">
            <h1 class="greeting_header_low">Trabalhos</h1>
            <div class="tab_container">
                <button class="tab_item active">Todos</button>
>>>>>>> 9707fe188ed4ed3ecd3caa472711a6f23ecb628f
                <button class="tab_item">Em andamento</button>
                <button class="tab_item">Finalizados</button>
                <button class="tab_item">Propostas</button>
            </div>
        </div>
    </header>
<<<<<<< HEAD
=======
    <div class="divisor_vertical_container">
        &lt;
        <hr class="linha_vertical">
    </div>

    <div class="painel_container">
        <h1>a</h1>
>>>>>>> 9707fe188ed4ed3ecd3caa472711a6f23ecb628f
    </div>
</body>

</html>