<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nu Empresas - Job</title>
    <link rel="stylesheet" href="/job_menu.css">
    <link rel="icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="btn_profile">
            <div class="icon_profile">
                <img src="/img/do-utilizador.png" alt="">
            </div>
            <h1 class="greeting">Olá, Rafael</h1>
            <a href="/" class="link_limpo">
                <div class="icon_profile_proximo">
                    <img src="/img/proximo.png" alt="">
                </div>
                <h1 class="greeting_dois">Trabalhos</h1>
            </a>
        </div>
    </header>
    <hr class="divisor">
    <header class="header_low">
        <div class="btn_profile_dois">
            <h1 class="greeting_header_low">Trabalhos</h1>
            <div class="tab_container">
                <button class="tab_item active">Todos</button>
                <button class="tab_item">Em andamento</button>
                <button class="tab_item">Finalizados</button>
                <button class="tab_item">Propostas</button>
            </div>
        </div>
    </header>
    <div class="divisor_vertical_container">
        <hr class="linha_vertical">
    </div>


    <div class="painel_container">
        <div class="icon_painel">
            <div class="icon_com_painel">
                <div class="painel_item">
                    <img src="/img/mala-de-viagem.png" alt="">
                </div>
            </div>
            <h1 class="painel_item">Trabalhos</h1>
        </div>


        <div class="icon_painel">
            <div class="icon_com_painel">
                <div class="painel_item">
                    <img src="/img/mala-de-viagem.png" alt="">
                </div>
            </div>
            <h1 class="painel_item">Meus Trabalhos</h1>
        </div>


        <div class="icon_painel">
            <div class="icon_com_painel">
                <div class="painel_item">
                    <img src="/img/mala-de-viagem.png" alt="">
                </div>
            </div>
            <div class="btn_item_painel">
            <h1 class="painel_item">Pagamentos</h1>
            </div>
        </div>
    </div>
</body>

</html>