<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nu Empresas - Job</title>
    <link rel="stylesheet" href="/job_menu.css">
    <link rel="icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="mais"><img src="/img/img_trabalhos/mais.png" alt=""></div>
        <div class="btn_profile">
            <div class="icon_profile">
                <img src="/img/do-utilizador.png" alt="">
            </div>
            <h1 class="greeting">Olá, Rafael</h1>
        </div>
    </header>

    <header class="header_low">
        <div class="btn_profile">
            <h1 class="greeting_header_low">Trabalhos</h1>
            <div class="tab_container">
                <button class="tab_item_active">Todos</button>
                <button class="tab_item">Em andamento</button>
                <button class="tab_item">Finalizados</button>
                <button class="tab_item">Propostas</button>
            </div>
        </div>
    </header>
    </div>
</body>

</html>