<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nu Empresas - Nubank</title>
    <link rel="stylesheet" href="/menu.css">
    <link rel="icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="app_container">

        <header class="header">
            <div class="btn_profile">
                <div class="icon_profile"><img src="/img/do-utilizador.png" alt=""></div>
            </div>
            <h1 class="greeting">Olá, Rafael</h1>
        </header>

        <section class="card_conta">
            <div class="card_label">
                <span>Saldo em conta</span>
            </div>
            <div class="saldo">R$ 120,56</div>
        </section>

        <div class="atalhos_container">
            <div class="btn_atalho">
                <div class="icon_circle"><img src="/img/visao-geral.png" alt=""></div>
                <span class="btn_label">Resumo <br>Ficanceiro</span>
            </div>

            <a href="/job" class="link_limpo">
                <div class="btn_atalho">
                    <div class="icon_circle"><img src="/img/pasta.png" alt=""></div>
                    <span class="btn_label">Trabalhos</span>
                </div>
            </a>

            <div class="btn_atalho">
                <div class="icon_circle"><img src="/img/dolar-caixa.png" alt=""></div>
                <span class="btn_label">Caixinhas</span>
            </div>

            <div class="btn_atalho">
                <div class="icon_circle"><img src="/img/grafico-de-crescimento-investir.png" alt=""></div>
                <span class="btn_label">Ações</span>
            </div>

            <div class="btn_atalho">
                <div class="icon_circle"><img src="/img/megafone-mundial.png" alt=""></div>
                <span class="btn_label">Stoks</span>
            </div>

            <div class="btn_atalho">
                <div class="icon_circle"><img src="/img/cidade.png" alt=""></div>
                <span class="btn_label">Fundos <br>Imobiliários</span>
            </div>

            <div class="btn_atalho">
                <div class="icon_circle"><img src="/img/caderno-alternativo.png" alt=""></div>
                <span class="btn_label">ETFs</span>
            </div>

            <div class="btn_atalho">
                <div class="icon_circle"><img src="/img/trocar-criptomoeda.png" alt=""></div>
                <span class="btn_label">Criptomoedas</span>
            </div>
        </div>

        <div>
            <hr class="divisor">
        </div>
    </div>

    <section class="invest_container">
        <div class="invest_label">
            <span>Investimentos</span>
        </div>
        <div class="invest_label_sub">
            <span>Valor total Investido</span><span>></span>
        </div>
        <div class="investido">R$ 5.530,52</div>
        <span class="ganhos">↑ R$ 630,03
            <span class="ganhos_sub">em 12 meses</span></span>
    </section>
</body>

</html>