<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nu Empresas - Nubank</title>
    <link rel="stylesheet" href="/menu.css">
    <link rel="icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app_container">
        
        <header class="header">
            <div class="btn_profile">
                <div class="icon_profile"><img src="/img/do-utilizador.png" alt=""></div>
            </div>
            <h1 class="greeting">Olá, Rafael</h1>
        </header>

        <section class="card_conta">
            <div class="card_label">
                <span>Saldo em conta</span>
                <span>></span>
            </div>
            <div class="saldo">R$ 1.500,00</div>
        </section>

        <div class="atalhos_container">
            <div class="btn_atalho">
                <div class="icon_circle"><img src="/img/seta-de-moeda-para-transferencia-de-dinheiro.png 1.png" alt=""></div>
                <span class="btn_label">Transferir</span>
            </div>

            <div class="btn_atalho">
                <div class="icon_circle"><img src="/img/grafico-histograma.png" alt=""></div>
                <span class="btn_label">Investimentos</span>
            </div>

            <div class="btn_atalho">
                <div class="icon_circle"><img src="/img/dolar-caixa.png" alt=""></div>
                <span class="btn_label">Caixinhas</span>
            </div>
        </div>

    <div> 
        <hr class="divisor"></div>
    </div>

    <div>
        <h1>Valores Investidos</h1>Valores Investidos</div>
        <span>R$ 5.000,00</span>
</body>
</html> 