 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}
 body {
    color: #000000;
    background-color: black;
 }

 .header {
    background-color: #6a2399;
    padding: 20px 20px 25px;
    color: white;

}
 .header_icon {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 30px;
 }


.greeting {
    font-size: 25px;
    margin-left: 170px;
    padding: 10px;
}

.card_conta {
    background-color: black;
    padding: 20px;
    margin-left: 170px;
    margin-right: 170px;
    color: white;
    border: 2px solid black;
    border-radius: 8px 12px;
    margin-top: 20px ;
    margin-bottom: 40px;
    box-shadow: 0px 4px 20px -2px rgb(0, 0, 0, 0.5);
    transition: 0.3s ease;
}

.card_conta:hover {
    transform: scale(1.02);
}

.card_label {
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: white;
}

.saldo {
    font-size: 27px; 
    font-weight: 700;
}

.atalhos_container {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    padding: 20px;
    gap: 120px;
    justify-content: flex-start;
    margin-left: 160px  ;
}

.btn_atalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
}

.icon_circle {
    width: 90px;
    height: 90px;
    background-color: #292929;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
    box-shadow: 0px 4px 20px -2px rgb(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 50%;
    transition: 0.3s ease;
}

.icon_circle:hover{
    transform: scale(1.12);
}

.icon_circle img {
    width: 25%;
    filter: invert(1);
}

.btn_label {
    font-size:15px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-top: 8px;
}

.card_info {
    background: #eeeeee;
    margin: 0 20px 20px;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 600;
    font-size: 14px;
}

.btn_profile {
    display: flex;
    margin-left: 170px;
    align-items: center;
    min-width: 80px;

}

.icon_profile {
    width: 90px;
    height: 90px;
    background-color: #9a35dda8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
    transition: 0.3s ease;
}


.icon_profile img {
    width: 40%;
    filter: invert(1);
}

.icon_profile:hover{
    transform: scale(1.12);
}

.divisor {
    border:none;
    height: 2px;
    background-color: #313131;
    margin: 20px 0px;
    width: 100%;
}

.invest {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    padding: 20px;
    gap: 120px;
    justify-content: flex-start;
    margin-left: 160px  ;
}

.card_invest {
    background-color: black;
    padding: 20px;
    margin-left: 170px;
    margin-right: 170px;
    color: white;
    border: 2px solid black;
    border-radius: 8px 12px;
    margin-top: 20px ;
    margin-bottom: 40px;
    box-shadow: 0px 4px 20px -2px rgb(0, 0, 0, 0.5);
    transition: 0.3s ease;
    gap: 8px;
}

.invest_label {
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: white;
}

.invest_label_sub {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #ffffffa4;

}
.investido {
    font-size: 27px; 
    font-weight: 700;
}

.card_invest:hover {
    transform: scale(1.02);
}

.ganhos {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: rgba(0, 255, 21, 0.644);  
    margin-top: 16px;
}

.ganhos_sub {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #ffffffa4;
    margin-top: 16px;
    margin-right: 160px;
}